VITE_APP_ENV=dev
VITE_API_URL=http://localhost:3000
VITE_REDIRECT_URI=http://localhost:5173/search
VITE_POST_LOGOUT_REDIRECT_URI=http://localhost:5173/
VITE_LOGOUT_URL=
VITE_COGNITO_AUTHORITY=
VITE_COGNITO_CLIENT_ID=
VITE_COGNITO_IDENTITY_PROVIDER=Google
VITE_OIDC_SCOPE=openid
